.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 110px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.page-header__logo {
    height: 100px;
    width: 465px;
    margin-left: 20px;
} 

.page-header__nav {
    display: flex; 
    justify-content: flex-start; 
}


.page-header__nav-link{
    text-align: left;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
    padding: 16px 20px;
    background-color: #6CB1F4;
    border-radius: 36px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(108, 177, 244, .2);
    transition: all .1s ease-in-out;
}

.page-header__nav-link:hover{
transform: scale(1.04);
color: #ffffff;
box-shadow: 0 9px 9px rgba(255, 255, 255, 0.089);
}
